<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Museum Inventory Application</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <h1 class="centered-header">Category Details</h1>
    <main class="museum-main">
      <% category.forEach(categoryObj => { %>
      <section class="museum-section">
        <div>
          <a href="/category/<%= categoryObj.category_id %>/delete"
            >Delete Category</a
          >
          <a href="/category/<%= categoryObj.category_id %>/update"
            >Update Category</a
          >
        </div>
        <p><%= categoryObj.category_name %></p>
      </section>
      <% }) %>
    </main>
  </body>
</html>
